<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fuelConfig" type="PowerDesignPro.BusinessProcessors.Dtos.Project.FuelConfigSection" requirePermission="true" restartOnExternalChanges="true" allowLocation="true" />
    <section name="fuelType" type="System.Configuration.DictionarySectionHandler" />
    <section name="conversionFactor" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <fuelConfig>
    <add Type="N" SP_GR="0.6" Viscosity="0.012" />
    <add Type="LP" SP_GR="1.52" Viscosity="0.008" />
  </fuelConfig>
  <conversionFactor>
    <add key="metricMultiplecationPipeSizeFactor" value="25.4" />
    <add key="exhaustFlowMetricConversionFactor" value="0.02832" />
    <add key="pressureMetricConversionFactor" value="0.2491" />
    <add key="meterToFootConversionFactor" value="3.2808" />
  </conversionFactor>
  <appSettings>
    <add key="AccessTokenTimeOut" value="240" />
    <add key="RefreshTokenTimeOut" value="240" />
    <add key="MessageConfigFile" value="App_Data\ErrorMessage.xml" />
    <add key="EventSource" value="(DEV) PowerDesignProAPI" />
    <add key="metricMultiplecationPipeSizeFactor" value="25.4" />
    <add key="temp_rank" value="546" />
    <add key="exhaustFlowMetricConversionFactor" value="0.02832" />
    <add key="pressureMetricConversionFactor" value="0.2491" />
    <add key="meterToFootConversionFactor" value="3.2808" />
    <!--<add key="SubDomain" value="PowerDesignProAPI"/>-->
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>