<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit..
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="fuelConfig" type="PowerDesignPro.BusinessProcessors.Dtos.Project.FuelConfigSection" requirePermission="true" restartOnExternalChanges="true" allowLocation="true" />
    <section name="fuelType" type="System.Configuration.DictionarySectionHandler" />
    <section name="conversionFactor" type="System.Configuration.DictionarySectionHandler" />

    <!--Section for Email templates-->
    <sectionGroup name="en" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
      <sectionGroup name="emailTemplates" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
        <section name="companyName" type="PowerDesignPro.Common.SectionHandler" />
        <section name="companyAddress" type="PowerDesignPro.Common.SectionHandler" />
        <sectionGroup name="requestForQuote" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
          <section name="generac" type="PowerDesignPro.Common.SectionHandler" />
          <section name="pramac" type="PowerDesignPro.Common.SectionHandler" />
        </sectionGroup>
        <section name="resetPassword" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="confirmEmail" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="projectShared" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="grantEditAccess" type="PowerDesignPro.Common.SectionHandler"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="es" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
      <sectionGroup name="emailTemplates" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
        <section name="companyName" type="PowerDesignPro.Common.SectionHandler" />
        <section name="companyAddress" type="PowerDesignPro.Common.SectionHandler" />
        <sectionGroup name="requestForQuote" type="System.Web.Configuration.SystemWebSectionGroup, System.Web">
          <section name="generac" type="PowerDesignPro.Common.SectionHandler" />
          <section name="pramac" type="PowerDesignPro.Common.SectionHandler" />
        </sectionGroup>
        <section name="resetPassword" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="confirmEmail" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="projectShared" type="PowerDesignPro.Common.SectionHandler"/>
        <section name="grantEditAccess" type="PowerDesignPro.Common.SectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <en>
    <emailTemplates>
      <companyName>
        <add key="generac" value="Generac Power Systems"></add>
        <add key="pramac" value="Pramac"></add>
      </companyName>
      <companyAddress>
        <add key="generac" value="S45W29290 Hwy 59 Waukesha, WI 53189"></add>
        <add key="pramac" value="Pramac Company Address"></add>
      </companyAddress>
      <requestForQuote>
        <generac>
          <add key="TemplateID" value="8a2e90c3-dec4-4c11-9f86-6fd0f96ea18e"></add>
          <add key="ToAddress" value ="pradeep.yellamaraju@generac.com"></add>
          <add key="ToName" value ="Power Design Pro Support"></add>
        </generac>
        <pramac>
          <add key="TemplateID" value="8a2e90c3-dec4-4c11-9f86-6fd0f96ea18e"></add>
          <add key="ToAddress" value ="pradeep.yellamaraju@generac.com"></add>
          <add key="ToName" value ="Pramac - Power Design Pro Support"></add>
        </pramac>
      </requestForQuote>
      <resetPassword>
        <add key="TemplateID" value="a093e525-c10e-497f-b6b4-0667b55aab8d"></add>
      </resetPassword>
      <confirmEmail>
        <add key="TemplateID" value="5b076b6b-cd6a-44bc-afd5-087d2ed76134"></add>
      </confirmEmail>
      <projectShared>
        <add key="TemplateID" value="3f87eeb8-a01a-41f2-b54f-c3e26285a47c"></add>
      </projectShared>
      <grantEditAccess>
        <add key="TemplateID" value="0d9b470c-1433-4b25-9022-8019c40d5deb"></add>
      </grantEditAccess>
    </emailTemplates>
  </en>

  <es>
    <emailTemplates>
      <companyName>
        <add key="generac" value="Generac Power Systems"></add>
        <add key="pramac" value="Pramac"></add>
      </companyName>
      <companyAddress>
        <add key="generac" value="S45W29290 Hwy 59 Waukesha, WI 53189"></add>
        <add key="pramac" value="Pramac Company Address"></add>
      </companyAddress>
      <requestForQuote>
        <generac>
          <add key="TemplateID" value="8a2e90c3-dec4-4c11-9f86-6fd0f96ea18e"></add>
          <add key="ToAddress" value ="pradeep.yellamaraju@generac.com;"></add>
          <add key="ToName" value ="Power Design Pro Support;Power Design Pro Support"></add>
        </generac>
        <pramac>
          <add key="TemplateID" value="8a2e90c3-dec4-4c11-9f86-6fd0f96ea18e"></add>
          <add key="ToAddress" value ="pradeep.yellamaraju@generac.com"></add>
          <add key="ToName" value ="Pramac - Power Design Pro Support"></add>
        </pramac>
      </requestForQuote>
      <resetPassword>
        <add key="TemplateID" value="a093e525-c10e-497f-b6b4-0667b55aab8d"></add>
      </resetPassword>
      <confirmEmail>
        <add key="TemplateID" value="5b076b6b-cd6a-44bc-afd5-087d2ed76134"></add>
      </confirmEmail>
      <projectShared>
        <add key="TemplateID" value="3f87eeb8-a01a-41f2-b54f-c3e26285a47c"></add>
      </projectShared>
      <grantEditAccess>
        <add key="TemplateID" value="0d9b470c-1433-4b25-9022-8019c40d5deb"></add>
      </grantEditAccess>
    </emailTemplates>
  </es>

  <fuelConfig>
    <add Type="NG" SP_GR="0.6" Viscosity="0.012" />
    <add Type="LP" SP_GR="1.52" Viscosity="0.008" />
  </fuelConfig>
  <conversionFactor>
    <add key="metricMultiplecationPipeSizeFactor" value="25.4" />
    <add key="exhaustFlowMetricConversionFactor" value="0.02832" />
    <add key="pressureMetricConversionFactor" value="0.2491" />
    <add key="meterToFootConversionFactor" value="3.2808" />
  </conversionFactor>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PowerDesignProAPI-20170927014651.mdf;Initial Catalog=aspnet-PowerDesignProAPI-20170927014651;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="PowerDesignProConnection" connectionString="Data Source=wksql05dev;Initial Catalog=PowerDesignPro;User ID=PDPUser;Password=Eleph@n+2671" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientID" value="123456"/>
    <add key="ClientSecret" value="abcdef"/>
    <add key="en" value="http://wkwebtest07/i18n/en.json"/>
    <add key="es" value="http://wkwebtest07/i18n/es.json"/>
    <add key="websiteURl" value="https://wkwebapptest02a.generac.com/"/>
    <add key="AccessTokenTimeOut" value="240" />
    <add key="RefreshTokenTimeOut" value="240" />
    <add key="MessageConfigFile" value="App_Data\ErrorMessage.xml" />
    <add key="EventSource" value="(DEV) PowerDesignProAPI" />
    <add key="metricMultiplecationPipeSizeFactor" value="25.4" />
    <add key="temp_rank" value="564" />
    <add key="exhaustFlowMetricConversionFactor" value="0.02832" />
    <add key="pressureMetricConversionFactor" value="0.2491" />
    <add key="meterToFootConversionFactor" value="3.2808" />
    <add key="PowerDesignProEmailAPIKey" value="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" />
    <!--<add key="SubDomain" value="PowerDesignProAPI"/>-->
    <add key="AddressValidationAPIURL" value="http://wkwebsoatest02a/AddressValidationAPI/AddressValidation/Validate" />
    <!--<add key="AddressValidationAPIURL" value="http://localhost:54891/AddressValidation/Validate"/>-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="noreply@generac.com">
        <network host="smtprelay.generac.com" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>